{#
/**
 * @file
 * Template for a form element.
 */
#}
{% set classes = [
  'js-form-item',
  'js-form-type-' ~ type|clean_class,
  'js-form-item-' ~ name|clean_class,
  is_inline ? '' : 'form-item',
  is_inline ? '' : 'form-group',
  'form-type-' ~ type|clean_class,
  'form-item-' ~ name|clean_class,
  label_display == 'inline' ? 'title-inline',
  label_display == 'before' ? 'title-before',
  label_display == 'after' ? 'title-after',
  label_display == 'invisible' ? 'title-invisible',
  disabled == 'disabled' ? 'form-disabled',
  type == 'checkbox' ? 'checkbox form-check',
  type == 'radio' ? 'radio form-check',
  is_inline ? 'col' : ''
] %}
{% set description_classes = [
  'help-block',
  'form-text',
  'text-muted'.
  description_display == 'invisible' ? 'visually-hidden',
] %}
<div{{ attributes.addClass(classes) }}>
  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}

  {% if prefix is not empty %}
    {{ prefix }}
  {% endif %}

  {% if description_display == 'before' and description.content %}
    <div{{ description.attributes }}>
      {{ description.content }}
    </div>
  {% endif %}

  {% if label_display == 'inline' %}
    {{ label }}
  {% endif %}

  {{ children }}

  {% if suffix is not empty %}
    {{ suffix }}
  {% endif %}

  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}

  {% if description_display in ['after', 'invisible'] and description.content %}
    <small{{ description.attributes.addClass(description_classes) }}>
      {{ description.content }}
    </small>
  {% endif %}
</div>
