{% include '@vactory_theme/block/login-links.html.twig' %}

<form {{ attributes.addClass('auth-box') }}>
  {{ element.form_build_id }}
  {{ element.form_token }}
  {{ element.form_id }}
  <h3 class="form-title-section">{{ 'Information de connextion' | t }}</h3>
  <div class="row">
    <div class="col-md-6">
      {{ element.account.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 no-help-block">
      {{ element.account.mail }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 no-help-block">
      {{ element.account.pass }}
    </div>
  </div>
  <h3 class="form-title-section">{{ 'Information personnelles' | t }}</h3>
  <div class="row">
    <div class="col-md-6">
      {{ element.field_first_name }}
    </div>
    <div class="col-md-6">
      {{ element.field_last_name }}
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="skinned-control checkbox p-0">
        {{ element.tos }}
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    {% if element.captcha|default %}
      <div class="captcha mb-3">
        {{ element.captcha }}
      </div>
    {% endif %}
  </div>
  <div class="d-flex align-items-md-center flex-md-row flex-column justify-content-md-between">
    <div class="form-validation-description">
      <p><span>(*)</span> : {{ "Champs obligatoires"|t }}</p>
    </div>
    <div class="actions">
      {{ element.actions.submit }}
    </div>
  </div>
</form>
