{% include '@vactory_theme/block/login-links.html.twig' %}

<form {{ attributes.addClass('auth-box') }}>
  {{ element.form_build_id }}
  {{ element.form_token }}
  {{ element.form_id }}

  <div class="vf-user-login-form--auth">
    {{ drupal_block('social_auth_login') }}
  </div>

  <hr class="w-100 my-3" />


  <div class="row">
    <div class="col-md-12">
      {{ element.name }}
    </div>
    <div class="col-md-12">
      {{ element.pass }}

      <a class="d-ib mb-1" href="{{ path('user.pass') }}">{{ 'Mot de passe oublié ?' | t }}</a>
    </div>
  </div>

  <div
    class="d-flex justify-content-md-between flex-column flex-md-row align-items-start align-items-md-center">
    {% if element.captcha|default %}
      <div class="captcha mb-md-0 mb-3">
        {{ element.captcha }}
      </div>
    {% endif %}
    <div class="actions">
      {{ element.actions.submit }}
    </div>
  </div>

</form>
