<form {{ attributes.addClass('auth-box') }}>
  {{ element.form_build_id }}
  {{ element.form_token }}
  {{ element.form_id }}

  <h3>{{ "Informations de connexion" | t }}</h3>
  {{ element.account.mail }}

  <h3 >{{ "Informations personnelles" | t }}</h3>
  {{ element.field_first_name }}
  {{ element.field_last_name }}
  {{ element.field_profession }}
  {{ element.field_telephone }}
  {{ element.field_about }}

  {{ element.user_picture }}

  <h3 >{{ "Réseaux sociaux" | t }}</h3>
  {{ element.field_facebook }}
  {{ element.field_youtube }}
  {{ element.field_twitter }}
  {{ element.field_linkedin }}

  {{ element.actions.submit }}

</form>
