{% set first_name = content.field_first_name[0]['#context'].value %}
{% set last_name = content.field_last_name[0]['#context'].value %}
{% set full_name = [first_name ~ ' ', last_name|capitalize]|join %}
{% set user_date = user.createdtime | date("d/m/Y") %}
{% set member_for = content.member_for['#markup']|striptags|replace({'Member for ': ''}) %}
{% set about = content.field_about[0]['#context'].value %}
{% set avatar_url = content.user_picture[0]['#item'].target_id is empty ? 
                      base_path ~ directory ~ "/assets/images/user-avatar.svg" :
                      content.user_picture[0]['#item'].entity.uri.value|file_url %}

<article{{ attributes.addClass("user-profile") }}>
  <h3 class="mt-1 mb-3">{{ "Mes Informations Personnelles" | t }}</h3>

  <div class="user-details">
    <div class="px-1">

      <img src="{{ avatar_url }}"
           class="rounded-circle avatar"/>

    </div>
    <div class="px-1">
      <div class="position-relative">
        <span class="icon icon-users"></span>
        <span class="text-muted">{{ "Prénom et nom" | t }} : </span>
        <b>{{ full_name }}</b>
      </div>
      <div class="position-relative">
        <span class="icon icon-id-card"></span>
        <span class="text-muted">{{ "Identifiant" | t }} : </span>
        <b>{{ user.name.value }}</b>
     </div>
      <div class="position-relative">
        <span class="icon icon-email"></span>
        <span class="text-muted">{{ "Courriel" | t }} : </span>
        <b>{{ user.mail.value }}</b>
      </div>
      <div class="position-relative">
        <span class="icon icon-phone"></span>
        <span class="text-muted">{{ "Telephone" | t }} : </span>
        {% if user.fields.field_telephone is empty %}
          <i>Non renseigné</i>
        {% else %}
          <b>{{ user.fields.field_telephone.value }}</b>
        {% endif %}
      </div>
      <div class="position-relative">
        <span class="text-muted">{{ "Memeber depuis" | t }} : </span>
        <b>{{ member_for }}</b> ( {{ user_date }} ) 
      </div>
    </div>
  </div>

  {% if about is not empty %}
    <div class="row mt-2">
      <div class="col-md-12">
        <hr>
        <blockquote class="blockquote mr-auto ml-auto text-center">
          <p class="mb-0">{{ about }}</p>
          <footer class="blockquote-footer">{{ full_name }}</footer>
        </blockquote>
      </div>
    </div>
  {% endif %}

  <hr class="mt-2 mb-1">

  {% if user.hasPermission('cancel account') %}
    <div>
      <a class="btn btn-danger" href="{{ path('entity.user.cancel_form', {'user': user.id}) }}">
        <span class="icon icon-alert"></span>
        {{ "Désactiver mon compte" | t }}
      </a>
    </div>
  {% endif %}

</article>
