footer.footer {
	margin-top: auto;
	padding: 20px 0;

	.container > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.void {
		filter: grayscale(1);
		transition: .5s;

		&:not(:hover) {
			opacity: 0.7;
		}

		img {
			height: 15px;
			width: auto;
		}
	}
}
