
$_displays: (
  none: 'n',
  inline: 'i',
  inline-block: 'ib',
  block: 'b',
  flex: 'f',
  inline-flex: 'if'
);


@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    // width shortcuts
    .w#{$infix}-a { @extend .w#{$infix}-auto }

    // margins shortcuts
    .m#{$infix}-a { @extend .m#{$infix}-auto }
    .mt#{$infix}-a,
    .my#{$infix}-a {
      @extend .mt#{$infix}-auto;
    }
    .mr#{$infix}-a,
    .mx#{$infix}-a {
      @extend .mr#{$infix}-auto;
    }
    .mb#{$infix}-a,
    .my#{$infix}-a {
      @extend .mb#{$infix}-auto;
    }
    .ml#{$infix}-a,
    .mx#{$infix}-a {
      @extend .ml#{$infix}-auto;
    }
    
    // display shortcuts
    @each $key, $value in $_displays {
      .d#{$infix}-#{$value} { @extend .d#{$infix}-#{$key} }
    }
  }
}


// positions
@each $position in $positions {
  .p-#{$position} { @extend .position-#{$position} }
}
