<div class="layout-container">

  <header class="header mb-1">
    <div class="container">
      <a href="{{ frontend_url }}" class="site-logo">
        <img src="{{ logo }}" alt="{{ site_name }}" />
      </a>
    </div>
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content container">


      {% if user.id %}
      <div class="container">
        <ul class="nav nav-tabs primary login-links">
          <li class="nav-item">
            <a class="nav-link{% if route_name == 'entity.user.canonical' %} active{% endif %}"
               href="{{ path('entity.user.canonical', {'user': user.id}) }}">{{ 'Accueil' | t }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if route_name == 'entity.user.edit_form' %} active{% endif %}"
               href="{{ path('entity.user.edit_form', {'user': user.id}) }}">{{ 'Modifier' | t }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if route_name == 'change_pwd_page.change_password_form' %} active{% endif %}"
               href="{{ path('change_pwd_page.change_password_form', {'user': user.id}) }}">{{ 'Changer le mot de passe' | t }}</a>
          </li>
        </ul>
      </div>
      {% endif %}


      <div class="container">
        {{ page.content }}
      </div>

    </div>{# /.layout-content #}

  </main>

  <footer class="footer">
    <div class="container">
      <div>
        {{ drupal_block('language_block:language_interface') }}
        {{ drupal_menu('footer') }}
        <span class="void">
          <a href="//void.fr">
            <img src="{{ base_path ~ directory }}/assets/images/void-logo-small.png">
          </a>
        </span>
      </div>
    </div>
  </footer>

</div>{# /.layout-container #}
