@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?m49839');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?m49839#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?m49839') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?m49839') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?m49839##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users {
  &:before {
    content: $icon-users; 
  }
}
.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-id-card {
  &:before {
    content: $icon-id-card; 
  }
}

