@font-face {
  font-family: 'Vactory-icons';
  src:  url('fonts/Vactory-icons.eot?m49839');
  src:  url('fonts/Vactory-icons.eot?m49839#iefix') format('embedded-opentype'),
    url('fonts/Vactory-icons.ttf?m49839') format('truetype'),
    url('fonts/Vactory-icons.woff?m49839') format('woff'),
    url('fonts/Vactory-icons.svg?m49839#Vactory-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Vactory-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\e95d";
}
.icon-alert:before {
  content: "\e933";
}
.icon-phone:before {
  content: "\e94b";
}
.icon-email:before {
  content: "\e964";
}
.icon-id-card:before {
  content: "\e983";
}
