$icomoon-font-family: "Vactory-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-users: "\e95d";
$icon-alert: "\e933";
$icon-phone: "\e94b";
$icon-email: "\e964";
$icon-id-card: "\e983";

