
{% set module = 'social-auth' %}

{{ attach_library('social_auth/auth-icons') }}

{% for social_network in elements.content['#social_networks'] %}
  <a class="{{ module }} auth-link" href="{{ path(social_network.route) }}">
	<svg  class="{{ module }} auth-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 1024 1024">
	<path d="M984 704c22.094 0 40-17.906 40-40v-504c0-88.227-71.773-160-160-160h-704c-88.227 0-160 71.773-160 160v704c0 88.227 71.773 160 160 160h704c88.227 0 160-71.773 160-160 0-22.094-17.906-40-40-40s-40 17.906-40 40c0 44.109-35.891 80-80 80h-196v-292h92.578c20.242 0 37.297-15.125 39.719-35.219l5.297-44c2.859-23.813-15.727-44.781-39.719-44.781h-97.875v-134c0-33.141 26.859-60 60-60h50c22.094 0 40-17.906 40-40v-40.461c0-20.492-15.477-37.711-35.867-39.789-20.281-2.063-41.742-3.75-54.133-3.75-46.648 0-93.406 19.68-128.281 53.984-35.93 35.344-55.719 81.641-55.719 130.367v133.648h-90c-22.094 0-40 17.906-40 40v44c0 22.094 17.906 40 40 40h90v292h-384c-44.109 0-80-35.891-80-80v-704c0-44.109 35.891-80 80-80h704c44.109 0 80 35.891 80 80v504c0 22.094 17.906 40 40 40z"/>
	</svg>
    <span class="{{ module }} auth-text"> {{'Se connecter avec Facebook'|t}} </span>
  </a>
{% endfor %}
