
<ul class="nav nav-tabs login-links">
  <li class="nav-item">
    <a  href="{{ path('user.login') }}"
    	class="nav-link{{ path('user.login') == path('<current>') ? ' active' }}" >
		{{ 'Connexion' | t }}
    </a>
  </li>
  <li class="nav-item">
    <a  href="{{ path('user.register') }}"
    	class="nav-link{{ path('user.register') == path('<current>') ? ' active' }}" >
		{{ 'Créer un nouveau compte' | t }}
    </a>
  </li>
  <li class="nav-item">
    <a  href="{{ path('user.pass') }}"
    	class="nav-link{{ path('user.pass') == path('<current>') ? ' active' }}" >
		{{ 'Demander un nouveau mot de passe' | t }}
    </a>
  </li>
</ul>
