/**
 * Styles for the login form
 */

$facebook-brand-color: #3c5b9b;


.social-auth.auth-link {
	color: $facebook-brand-color;
	text-decoration: none;
	border: 2px solid $facebook-brand-color;
	border-radius: 10px;
	display: block;
	max-width: 320px;
	margin: auto;
	padding: 5px 20px;
	text-align: center;
	transition: .4s ease-in;
	font-size: 18px;

	&:hover {
		color: white;
		background-color: $facebook-brand-color;
	}
}

.social-auth.auth-icon {
	width: 22px;
	height: 22px;
	fill: currentColor;
	vertical-align: text-bottom;
}


