.auth-box {
	max-width: $login-box-max-width;
	min-height: 400px;
	margin: 0 auto 20px;
	padding: 20px;
	border: 1px solid change-color($primary, $saturation: 100);
	border-radius: 0 0 5px 5px;
	background-color: #fff;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	transition: .2s ease-out;
	transition-property: box-shadow, border-color;

	&:hover {
		box-shadow: 0 10px 20px rgba($black, .19);
		border-color: $primary;
	}

	&:focus-within {
		// separate from :hover so it does not invalidate the rule in IE
		box-shadow: 0 10px 20px rgba($black, .19);
		border-color: $primary;
	}

	details.captcha summary {
		text-align: right;
	}

	@include media-breakpoint-up(sm) {
		padding: 30px;
	}

	@include media-breakpoint-up(md) {
		padding: 60px;
	}
}

.user-pass {
	details.captcha {
		margin-bottom: 20px;
	}
}
