.login-links {
	max-width: $login-box-max-width;
	margin: 20px auto 0;
	border-bottom: 0;

	.nav-item {
		flex-shrink: 0;
	}
}

@include media-breakpoint-down(md) {
	.login-links {
		overflow: auto;
		flex-wrap: nowrap;

		.nav-item {
			flex-shrink: 0;
		}
	}
}
