.user-profile {
	@extend .auth-box;

	.avatar {
		width: 120px;
		height: 120px;
		object-fit: cover;
	}
}

.user-details {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	.position-relative {
		padding-left: 25px;
		margin-bottom: 5px;
	}

	.icon {
		$size: 15px;
		color: $primary;
		position: absolute;
		left: 0;
		top: calc(50% - #{$size}/2);
	}

	@include media-breakpoint-down(md) {
		> div:first-child {
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
		}
	}
}
